<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../boot/bootstrap.min.css">
          <link rel="stylesheet" href="../css/custom.css">
          <title>Gospel of Mark</title>
  </head>
  <body class="m-0">
                        <!--nav bar  -->
                        <nav class="navbar navbar-dark navTop">
                      <h2 class="text-light d-none d-sm-block">Overcomers Through Christ</h2>
                      <button class="navbar-toggler pearl" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon bg-dark"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Chapters
                            </a>
                            <div class="dropdown-menu chapters float-left chapters" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item text-light" href="mark1.html">Chapters 1-2</a>
                              <a class="dropdown-item text-light" href="#">Chapters 2-3</a>
                              <a class="dropdown-item text-light" href="#">Chapters 3-4</a>
                              <a class="dropdown-item text-light" href="#">Chapters 5-6</a>
                              <a class="dropdown-item text-light" href="#">Chapters 7-8</a>
                              <a class="dropdown-item text-light" href="#">Chapters 9-10</a>
                              <a class="dropdown-item text-light" href="#">Chapters 11-12</a>
                              <a class="dropdown-item text-light" href="#">Chapters 13-14</a>
                              <a class="dropdown-item text-light" href="#">Chapters 15-16</a>

                            </div>
                              <img src="../photos/J0177806.JPG" alt="bible" class="img-fluid d-none d-md-block rounded-circle">



                        </ul>

                      </div>
                    </nav>
                                    <!--NavBar End  -->



                         <!--Header start  -->
    <header class="jumbotron p-0 w-75 m-auto mt-lg-5 mt-md-5">
      <div class="row">
        <div class="col-4">
      <img src="../photos/J0145810.JPG" alt="" class="img-fluid ">
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center flex-wrap text-light">
          <h1>Gospel of Mark</h1>

          <p class="d-flex"><i class="d-none d-sm-block">Behold, I stand at the door, and knock: if any man hear my voice, and open the door, I will come into him, and will sup with him, and he with me...   Revelation 3:20</i></p>
        </div>
        <div class="col-4">
      <img src="../photos/J0145904.JPG" alt="" class="right img-fluid ">
        </div>
          </div>
        </header>
                        <!--Header end  -->



                            <!-- card 1 -->

        <main>
        <div class="container mt-5">
          <div class="row">
            <div class="col-12 p-0 about">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header d-flex justify-content-center" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  General Facts About the Book of Mark
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body text-light">
                <p>Date and Place written: Between AD 57-63</p>
                <p>Author: John Mark</p>
                <p>Statistics: 41st book of the bible; 16 chapters; 678 verses; 15,176 words</p>

            </div>
            </div>
          </div>


                              <!--Card 2  -->

          <div class="card">
            <div class="card-header d-flex justify-content-center" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Purpose For This Site
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse text-light" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>The ultimate purpose for this site is to encourage believers and unbelievers alike to read God's word. Every word that comes from God is life and truth and will never come back void and we should be eager to hang on to every one. We have started with the book of Mark in the King James version and hope to introduce other versions in the future.</p>
                  <div class="text-center">
                <h4><u>2 Timothy 3:16</u></h4>
                <p><b>16</b> All scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness.<b>17</b> That the man of God may be perfect, throughly furnished unto all good works.</p>
              </div>
              <p>And what better way to start than to learn of His living Word!</p>
              <div class=" text-center">
              <h4><u> John 1:1</u></h4>
              <b>1</b> In the beginning was the Word, and the Word was with God, and the Word was God.
              </div>
              <p class="mt-3">If you are reading this and you do not know Jesus Christ, that Living Word, my prayer for you is that He will reveal Himself to you as you seek Him through His word.</p>

              </div>
            </div>
          </div>


                                <!--Card 3  -->

          <div class="card">
            <div class="card-header d-flex justify-content-center" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Bible Trivia
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
              <p>The book of Mark is divided up into sixteen chapters. We have displayed two chapters per page. On each page we have provided some bible trivia to make it fun and to test your knowledge. As you will notice as you go along the questions will get harder. At the end of the book we have provided a full trivia test over the whole book to help you in the understanding of Christ's ministry. Hope you enjoy!!!</p>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
      </main>
      <br><br>
              <!-- <a href="#"><button type="button" class="btn-lg btn-block m-auto d-none d-sm-block  card-header card align-items-center w-25">Back to Top</button></a>
 -->

                <a href="mark1.html"><button type="button" class="btn-lg btn-block card-header card align-items-center w-75 ml-auto mt-5 mr-auto">Lets Get Started</button></a>






    <script src="../boot/jquery-3.4.1.min.js"></script>
      <script src="../boot/bootstrap.bundle.min.js"></script>
      </body>
</html>
